# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Ambiente de desenvolvimento
.env
.DS_Store

# Build files
dist/
build/

# Logs
logs/
*.log

# Sistema operacional
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# IDEs e editores de texto
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Arquivos de cache
.cache/
*.cache

# Outros arquivos temporários
*.tmp
*.temp
.config.json